DerivedDataCache
Intermediate
Saved
C:\Users\EAVR\Documents\GitHub\G_Hall\Content\1st_project\G_Hall_files\G_hall_BuiltData.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.