DerivedDataCache
Intermediate
Saved
Content/1st_project/G_Hall_files/Built_data
Content/1st_project/G_Hall_files/Built_data/G_Hall_BuiltData.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.
